*,
*::before,
*::after {
    box-sizing: border-box;
}
input{
    position: absolute;
    top: 0;
    left: 0;
}
.item{
    position: relative;
    display: block;
}
.item-2{
    display: none;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.akkordeon .checkbox[type=checkbox]:checked + label + ul,
.akkordeon .checkbox[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;
}
.akkordeon .checkbox[type=checkbox]:hover + label + ul {
    display: block;
}