*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}